<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.linkedin.com/in/iftekhar-ansari-60a272178" ><i class="fa-brands fa-linkedin social1"></i></a>
            
            <a href="https://x.com/iftekha8205699?t=_xyL016JPvLr4pJRxIXXjQ&s=09"><i class="fa-brands fa-x-twitter social"></i></a>
            <a href="https://www.instagram.com/ansari_iftekhar21"><i class="fa-brands fa-square-instagram social social3"></i></a>
        </div>
        <div>&copy; 2025 NomadStay Private Limated</div>
        <div class="f-info-links">
            <a href="/listings/privacy">Privacy</a>
            <a href="/listings/terms">Terms</a>
        </div>
    </div>
</footer>