<%layout("../layouts/boilerplate")-%>
<h3 class="mt-5">ERROR : <%= err.name %></h3>
<div class="row error">
    <div class="cols">
        <div class="alert alert-danger col-10 offset-1" role="alert">
          <h4><%= err.message %></h4>  
          </div>
    </div>
</div>

  