body{
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100vh;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.navbar-brand p{
    margin: 0 1.8rem .2rem 0;
    color: red;
    font-size: 2rem;
    padding: 0;
    
}
#togglerLable{
    position: absolute;
      right: 15px;
      top: 1.5rem;
  }
.nav-link{
    color: #222222 !important;
    font-weight: 650 !important;
}
.me-2{
margin-left:10rem ;
}

footer{
    position: relative !important;
    bottom:0 !important; 
    width: 100% !important;
}
.f-info{
    text-align: center;
    background-color: #dedbdbf5 ;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.f-info-social{
    width: 100%;
    font-size: 1.5rem;
    margin:.5rem 0 1.2rem 0;
}
.f-info-social i{
    margin-left: 1rem;
}
.social,.social1{
    color: black;
}

.social1:hover{
    color: #4267B2;
}
.social3:hover{
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f-info-links a{
    text-decoration: none;
}
.f-info-links{
    margin: 1.2rem 0 .8rem 0;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.card{
    border: none !important;
    margin: 0 .5rem 2rem 0 !important;
    padding: 0 !important;
}

.card-img-top{
    border-radius: 0.8rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight:500!important;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: .3;
    background-color: white;
}

.container{
    flex: 1;
}

.add-btn,.btn{
    background-color: red !important;
    border: none !important;
}
.delete{
    background-color: #222222 !important;
}

.show-img{
    height: 50vh;
    background-size: auto;
}

.btns{
    display: flex;
}

.alert{
    margin-top: 3%;
    position: absolute !important;
    z-index: 1;
}

.newform{
    height: 100vh;
}
/* .show{
    height: 100vh;
} */
.edit{
    height: 36px;
}
.nav-link:hover{
    color: red !important;
    text-decoration: underline red;
}
.error{
    height: 100vh;
}
.ratingbtn{
    background-color: white;
    border: solid 2px black ;
    border-radius: 5px;
    height: 40px;
    font-size: large;
    font-weight: 500;
    margin: 1rem 0 1rem 0;
}

.ratingbtn:hover{
    background-color: black;
    color: white;
}

.review-card{
    border: 1px solid #c7c8c9 !important;
    /* padding: 5px !important; */
    padding-left: 5px !important;
}

.signup{
    background-color: #008000 !important;
    color: white !important;
    width: 100%;
}
.showimg{
    background-size: cover !important;
}

.btn-search{
    background-color: red !important;
    font-size: 1rem !important;
    color: #fff !important;
    border-radius: 010rem !important;
    padding:0 1rem 0 1rem !important;
}
.btn-search:active{
    background-color: white !important;
    color: #000 !important;
}
.btn-search i{
    display: inline;
    margin-right: 0.4rem;
}

.d-flex input{
   border-radius: 10rem !important;
   padding: 0.5rem 3rem 0.5rem 3rem;
   font-size: 1rem !important;
}
.signup{
    margin-bottom: 3rem !important;
}
.form-control:focus{
    box-shadow: 0px 0px 8px rgb(237, 52, 52) !important;
}
@media(max-width: 770px ){
    .card{
        min-width: 85% !important;
    }
    .show-img{
        height: 25vh !important;
    }
    .sign-form,.login-form{
        border: 1px solid grey;
        padding: 1rem !important;
        width:80% !important;
        margin-left: 2.5rem !important;
        border-radius: .8rem;
        margin-bottom: 5rem !important;
    }
    .sign-opt,.login-opt{
        font-weight: 600;
    }
    
    .sign-p,.login-p{
        width: 80% !important;
        margin-left: 2.3rem !important;
    }
    .sign-h,.login-h{
        font-size:1.5rem !important;
        width: 80% !important;
        margin-left: 2.3rem !important;

    }
    .collapse{
        display: flex !important;
    }
    .navbar {
        height: 8rem;
    }
    .nav-linkexp{
        display: none !important;
    }
    .me-2{
        margin-left: 5px !important;
        
    }
    .second{
        width: 50% !important;
    }
    .form-control{
        width:68% !important;
    }
    .d-flex{
        width: 150% !important;
        height: 2rem;
        /* margin-left: ; */
    }
    .checkboxtoggler{
        width: 1.7em !important;
        gap: 0.2em !important;
        position: absolute;
        left: -2rem;
        top: -0.3rem;
    }
    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
        transform: rotate(-45deg) translateY(0.3em) translateX(0.18em) !important;
    }

    #toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
        transform: rotate(45deg) translateY(0.2em) translateX(0.7em) !important;
    }
    .nav-profile{
        top: 3rem !important;
        right: 0.2rem !important;
    }
    .form-input{
        width: 100% !important;
    }
    h5{
        font-size: .9rem !important;
    }
    .signup{
        margin-bottom: 1rem !important;
    }
    .f-info{
        height: 8rem;
        margin-top: 4rem;
    }
    .navbar-brand p {
        font-size: 1.5rem;
    }
    .tax-toggle{
        margin-top: 2rem !important;
        width: 14rem !important;
        margin-left: 0 !important;
    }
    .filters{
        justify-content: space-around !important;
    }
    .form-switch .form-check-input {
    position: relative;
    top: .17em;
    width: 1.4em !important;
    height: 1rem;
    }
    .comment1{
        width: 88.5% !important;
        background-color: #008000;
    }
    .col-1{
        width: 19% !important;

    }
    .alert-danger,.alert-success{
        width: 75% !important;
        margin-left: 8% !important;
    }
    
}
